.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #3e3e3e;
  }
  
  .navbar-logo .logo {
    height: 50px;
  }
  
  .navbar-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-links li {
    display: inline;
  }
  
  .nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
  }
  
  .nav-link:hover {
    color: #ff9900;
  }
  